<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>File Server: Files</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="files.component.css">
  </head>

  <body>
    <app-basicheader></app-basicheader>



    <div class="myFilesHeader">
      <div class="myFilesInnerContainer">
        <div class="myFilesTitle">
          <h1>MyFiles</h1>
          <h2 class="storageText" >{{maxStorageString()}}</h2>
        </div>
      </div>

    </div>

    <div class="myFilesOutterContainer">
      <div *ngIf="state==='files'" class="myFilesInnerContainer" >

        <div *ngFor="let f of files">

          <div class="fileSlot">
            <img src="../../assets/imgs/file.png" alt="">
            <h1 class="fileName">{{f.name}}</h1>
            <h1 class="fileSize">{{ sizeString(f.sizeBytes) }}
            </h1>
            <a (click)="downloadFile(f)"><img class = "fileSlotButton" src="../../assets/imgs/download.png" alt=""> </a>
            <a (click)="deleteFile(f.fileID)">  <img class = "fileSlotButton" src="../../assets/imgs/trash.png" alt=""></a>


          </div>

        </div>

        <div *ngIf="files!=null">
          <!--<button class="uploadButton" type="button" (click) = "startUpload()" > Upload  </button>-->

          <input type="file" placeholder="Upload file" id="fileToUpload" name="fileToUpload" (change)="fileChange($event)" >

        </div>

        <div class="fetchMessage" *ngIf="files==null">
          <p> Fetching files from server ... </p>
        </div>
      </div>

      <div *ngIf="state==='uploading'" class="myFilesInnerContainer" >
          <p class="fetchMessage"> Uploading file: {{uploadingFile.name}} (requesting upload channel) </p>
          <!-- <span [ngStyle]="{'width.%':uploadProgress}"></span> -->
      </div>

      <div *ngIf="state==='uploadFailed'" class="myFilesInnerContainer" >
        <p class="fetchMessage"> Upload failed! </p>
        <button class="returnButton" type="button" (click) = "goToFiles()" > OK  </button>
      </div>

      <div *ngIf="state==='deleting'" class="myFilesInnerContainer" >
        <p class="fetchMessage"> Deleting file ...</p>
    </div>

    </div>

    <!--
      <div class="filesBG">
      <div class="filesContent">
        <h1> files </h1>

      </div>

    </div>
      <div class="homeDesc">
      <div class = "homeDescInner">
        <h1> files</h1>
      </div>

    </div>
  -->

  </body>
</html>
