
.myFilesHeader
{
  display: block;

  width: 100%;
  height: 35px;

  background-color: #1e2f63;

  box-shadow: 0px 2px 3px 0px rgb(0, 0, 0, 0.5);
}

.myFilesHeader h1
{
  float: left;
  padding-top: 5px;
  padding-left: 0px;

  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;

  font-size: 18px;
  font-weight: 400;

}

.myFilesOutterContainer
{
  position: relative;
  top: 10px;

  width: 100%;
  display: block;
  /*background-color: green;*/
}

.myFilesInnerContainer
{
  width: 75%;
  height: 100%;
  display: grid;
  /*background-color: red;*/

  margin: 0 auto;

  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 10px;
}

.fileSlot
{
  padding: 3px;

  width: 100%;
  height: 24px;

  display: grid;
  grid-template-columns: 24px 2fr 1fr 24px 24px;
  grid-column-gap: 5px;

  background-color: #5b6ea7;

  box-shadow: -1px 2px 3px 0px rgb(0, 0, 0, 0.5);
}

.fileSlot img
{

  width: 24px;
  height: 24px;

  color: white;

  /*background-color: pink;*/

  filter: drop-shadow(-1px 1px 2px  rgb(0, 0, 0, 0.6));

  background-color: #2e4075;
}

.fileSlotButton:hover
{
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 6px #ffffff);
}

.fileName
{
  color: white;

  text-align: left;

  padding-top: 4px;
  font-size: 90%;
  font-weight: 400;

  filter: drop-shadow(0px 1px 1px  rgb(0, 0, 0, 0.8));

  /*background-color: pink;*/
}


.fileSize
{
  color: white;

  text-align: right;

  padding-top: 4px;
  padding-right: 4px;
  font-size: 90%;
  font-weight: 400;

  filter: drop-shadow(0px 1px 1px  rgb(0, 0, 0, 0.8));

  /*background-color: pink;*/
}


.uploadButton {
  background-color:#182A62;
  border: none;
  color: white;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  font-size: 18px;

  padding-bottom: 3px;
  width: 100px;
  height: 35px;

  filter: drop-shadow(-1px 1px 2px  rgb(0, 0, 0, 0.8));
}

.uploadButton:hover
{
  background-color:#2b407e;
}


.fetchMessage p
{
  padding-top: 4px;

  color: #333333;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;

  font-size: 16px;
  font-weight: 400;

  filter: drop-shadow(0px 0px 3px #8eaaff);
}

.returnButton
{
  background-color:#182A62; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  font-size: 18px;

  padding-bottom: 3px;
  height: 30px;
  width: 100px;

  box-shadow: -2px 4px 6px 0px rgb(0, 0, 0);
}

.returnButton:hover
{
  background-color:#2b407e; /* Green */
}

.myFilesTitle
{
  width: 100%;
  height: 100%;

  /*background-color: red;*/
  display: block;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 0px;
}

.myFilesTitle h2
{
  color: white;

  text-align: right;

  padding-top: 8px;
  padding-right: 0px;
  font-size: 80%;
  font-weight: 400;

  filter: drop-shadow(0px 1px 1px  rgb(0, 0, 0, 0.8));

  /*background-color: pink;*/
}


