.bg
{
  display: block;
  width: 100%;
  height: 100vh;

  background-color: #EEEEEE;
}


.signupWindow
{
  display: block;
  /*background-color: red*/;

  width:  10px;
  height: 10px;

  position: absolute;
  left: 50%;
  bottom: 50%;
}

.signupHeader
{
  display: block;
  background-color: #182A62;

  width: 300px;
  height: 40px;

  position: relative;
  top: -120px;
  left: -150px;

  box-shadow: -1px 3px 12px 0px rgb(0, 0, 0, 0.5);
}

.signupHeader p
{
  color: white;
  font-size: 18px;
  padding-top: 8px;
  padding-left: 10px;

  text-align: center;
}

.signupBody
{
  display: block;
  background-color: #5f73af;

  width: 300px;

  position: relative;
  top: -120px;
  left: -150px;

  box-shadow: -1px 3px 12px 0px rgb(0, 0, 0, 0.5);
}

.signupBodyInner
{
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 8px;

  /*background-color: #5faf70;*/

  padding: 10px;

  font-size: 14px;
}

.signupBodyInner h1
{
  font-size: 12px;
}

.signupBodyInner input
{
  text-align: center;
  height: 22px;
  border: 0px;

  box-shadow: -1px 3px 3px 0px rgb(0, 0, 0, 0.3);
}

.signupBodyInner button
{
  background-color:#182A62; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  font-size: 18px;

  height: 32px;

  padding-bottom: 3px;

  box-shadow: -1px 3px 3px 0px rgb(0, 0, 0, 0.3);
}

.signupBodyInner button:hover
{
  background-color:#2b407e; /* Green */
}

.signupBodyInner a
{
  color:rgb(255, 252, 232);
  text-align: center;
  width: 100%;
}

.signupBodyInner p
{
  text-align: center;
}

.creationResult
{
  text-align: center;
  width: 300px;
  height: 50px;

  position: relative;
  right: 150px;
  bottom: 25px;

  font-size: 24px;

  color: rgb(167, 167, 150);
}


.generalError
{
  color: red;
  font-size: 14px;
  padding: 5px;

  text-align: center;
  background-color: #1b1b1b;
  position: relative;
  top: 0px;
}

