<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>File Server: Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="login.component.css">
  </head>

  <body>

    <app-basicheader></app-basicheader>

    <div class="bg" enabled>
      <div class="signupWindow" *ngIf="state === 'idle'">

        <div class="signupHeader">
          <p>Login credentials</p>
        </div>

        <div class="signupBody">
          <form class="signupBodyInner" [formGroup]="form">
            <input type="text" maxlength="32" id="username" name="username" placeholder="username" formControlName ="login">
            <input type="password" maxlength="32" id="password1" name="password1" placeholder="password" formControlName ="password">

            <button type="button" (click) = "onSubmit()"> Log In </button>
            <p> Doesn't have an account? <a [routerLink]="['/signup']">Sign up</a> </p>
          </form>

          <p class="generalError" *ngIf="generalError!=null"> {{generalError}} </p>
        </div>



      </div>

      <div class="signupWindow" *ngIf="state === 'logging'"> <h1 class="creationResult"> Attempting login ... </h1> </div>

      <div class="signupWindow" *ngIf="state === 'logged'"> <h1 class="creationResult"> ... </h1> </div>
    </div>

  </body>
</html>
