<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>File Server: Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="signup.component.css">
  </head>

  <body>

    <app-basicheader></app-basicheader>

    <div class="bg" enabled>
      <div class="signupWindow" *ngIf="state === 'idle'">
        <div class="signupHeader">
          <p>Creating new account</p>
        </div>

        <div class="signupBody">
          <form class="signupBodyInner" [formGroup]="form">
            <input type="text" maxlength="32" id="username" name="username" placeholder="username" formControlName ="login">
            <input type="password" maxlength="32" id="password1" name="password1" placeholder="password" formControlName ="password">
            <input type="password" maxlength="32" id="password2" name="password2" placeholder="confirm your password" formControlName ="confirmPass">

            <button type="submit" (click) = "onSubmit()"> Sign Up </button>
            <p> Already have an account? <a [routerLink]="['/login']">Log in</a> </p>
          </form>

          <p class="generalError" *ngIf="generalError!=null"> {{generalError}} </p>
        </div>

      </div>

      <div class="signupWindow" *ngIf="state === 'creating'"> <h1 class="creationResult">Creating account ...</h1> </div>

    </div>

  </body>
</html>
