/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

  font-family: Verdana, Tahoma, sans-serif;
}
