<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="basicheader.component.css">
  </head>

  <body>
    <div class ="header">

      <div class = "logoContainer">
        <img src="../../assets/imgs/logo.png" alt="">
        <h1>File Server</h1>
      </div>

      <div *ngIf="isLoggedIn()" class = "loggedContainer">
        <div class = "loggedUsernameContainer">
          <h1>{{loggedInfo.username}}</h1>
        </div>

        <div class = "loggoffButtonContainer">
          <a (click)="logOff()"><img src="../../assets/imgs/shutoff.png" ></a>
        </div>
      </div>

      <div *ngIf="!isLoggedIn()" class = "buttonContainer">

          <button type="button" (click) = "goToSubscribe()" >Sign Up  </button>
          <button type="button" (click) = "goToLogin()" >Login    </button>
      </div>

      <!--
      <button class="button" type="button">Sign Up  </button>
      <button class="button" type="button">Login    </button>
      -->

    </div>
  </body>
</html>

