*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.header{
  width: 100%;
  height: 60px;
  display: block;
  background-color: #0A1128;
}

.loggedContainer
{
  /*background-color:yellow;*/

  float: right;

  margin: 10px;
  padding-right: 0px;

  width: 200px;
  height: 40px;
}

.loggoffButtonContainer
{
  /*background-color:green;*/

  float: right;

  width: 40px;
  height: 40px;
}

.loggoffButtonContainer img
{
  margin: 5px;
  width: 30px;
  height: 30px;

  filter: drop-shadow(0px 0px 6px #4b5b8b);
}

.loggoffButtonContainer img:hover
{
  transform: scale(1.05);
  filter: drop-shadow(0px 0px 6px #8eaaff) brightness(1.3);
}

.loggedUsernameContainer
{
  /*background-color:red;*/

  float: left;

  padding-right: 20px;

  width: 140px;
  height: 40px;
}


.loggedUsernameContainer h1
{
  /*background-color:#182A62;*/

  text-align: right;
  color:white;

  width: 150px;
  height: 30px;

  font-size: 18px;

  padding-top: 9px;
  font-weight: 400;

  filter: drop-shadow(0px 0px 4px #8eaaff);
}

.buttonContainer
{
  float: right;

  padding: 10px;
  padding-right: 20px;

  width: 200px;
  height: 40px;

  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5px;
}

.buttonContainer button {
  background-color:#182A62; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  font-size: 18px;

  padding-bottom: 3px;
  width: 100px;

  box-shadow: -2px 4px 6px 0px rgb(0, 0, 0);
}

.buttonContainer button:hover
{
  background-color:#2b407e; /* Green */
}

.logoContainer
{
  float: left;

  padding: 10px;

  width: 200px;
  height: 40px;

  /*display: block;
  background-color:red;*/
}

.logoContainer h1
{
  float: right;
  padding-top: 4px;

  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;

  font-size: 26px;
  font-weight: 400;

  filter: drop-shadow(0px 0px 3px #8eaaff);
}

.logoContainer img
{
  float: left;
  padding-left: 5px;
  vertical-align: middle;
  height: 100%;

  filter: drop-shadow(0px 0px 2px #5f76bb);
}

