*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.homeDesc
{
  display: block;
  width: 100%;
  height: 100vh;

  background-color: #EEEEEE;
}

.homeDescInner
{
  width: 500px;
  height: 50%;
  margin: 0 auto;

  display: block;
  /*background-color: red;*/
}

.homeDescInner h1
{
  color: rgb(167, 167, 150);
  display: table-cell;

  font-size: 44px;
  font-weight: 100;
  font-style: normal;

  text-align: center;
  /*background-color: black;*/

  width: 500px;
  height: 100px;

  position: relative;
  left: 0px;
  top: 40vh;
}
